/* fonts */
$exo: "Exo2.0", "Arial", sans-serif;
$trebuchet: "TrebuchetMS", "Arial", sans-serif;

/* colors */
$white: #FFFFFF;
$black: #000000;
$yellow: #FFFF66;
$blue: #1698D9;
$blue-2: #22A7E9;
$gray: #F2F2F2;
$magenta: #D91667;
$magenta-2: #E52E7A;
$darkGray: #666666;
$disabledGray: #B3B3B3;

/* other */
$wrapper: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
